body {
  font-family: sans;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #FFB06B;
}

container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

me {
  padding: 0em 2em 0em 2em;
  width: 70vw;
  display: flex;
  flex-flow: row nowrap;

  align-items: stretch;
  border: 1px solid #DDD;
  border-radius: 10px;
  background-color: #F4F4F4;
	margin-bottom: 1em;
	margin-left: 0.5em;
	margin-top: 0.5em;
}

me #image {
  margin: 0.5em 0;
}

.produtos {
  overflow-y: scroll;
}

.produto {
  background: #F4F4F4;
  margin-bottom: 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  height: 30vh;

  border-radius: 10px;
  padding: 0em 2em 0em 2em;
  width: 90vw;
}

.produto:first-child {
  margin-top: 1.5em;
}

.img-pr {
  height: 70%;
  overflow: hidden;
}

prtxt {
  display: flex;
  flex-flow: column nowrap;
  font-size: 2.5em;
  justify-content: space-evenly;
  height: 100%;
}

nome {

}

category {
  color: rgba(255, 0, 0, 0.57);
}

.button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  border: solid 1px transparent;

  min-height: 2.5em;
  text-align: center;
}

.button.buy-mini-button {
  background: $buy-background;
  color: $buy-color;

  min-width: 15vw;
  border-radius: 0.5em;

  margin-bottom: 0.5em;
  margin-left: 40vw;
}

